# ====================================================================
# EDA Simulation Run & Waveform Artifacts
# ====================================================================
*.vvp
*.vcd
*.mem

# ====================================================================
# Isolated Component Source Files & Exclusions
# ====================================================================
RAM.v
testbench.v
